:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 240 226 204;
  --oui-color-primary-light: 245 235 220;
  --oui-color-primary-darken: 230 205 180;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 225 210 195;
  --oui-color-link-light: 235 220 205;

  --oui-color-secondary: 250 245 240;
  --oui-color-tertiary: 245 240 235;
  --oui-color-quaternary: 245 240 235;

  --oui-color-danger: 210 140 120;
  --oui-color-danger-light: 220 160 140;
  --oui-color-danger-darken: 200 120 100;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 170 210 150;
  --oui-color-success-light: 190 225 170;
  --oui-color-success-darken: 150 190 130;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 200 180 120;
  --oui-color-warning-light: 215 200 140;
  --oui-color-warning-darken: 190 150 90;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 230 215 200;
  --oui-color-fill-active: 235 220 210;

  --oui-color-base-1: 230 215 205;
  --oui-color-base-2: 220 205 190;
  --oui-color-base-3: 210 195 180;
  --oui-color-base-4: 200 185 170;
  --oui-color-base-5: 190 175 160;
  --oui-color-base-6: 180 165 150;
  --oui-color-base-7: 160 145 130;
  --oui-color-base-8: 150 135 120;
  --oui-color-base-9: 140 125 110;
  --oui-color-base-10: 130 115 100;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 210 140 120;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 170 210 150;
  --oui-color-trading-profit-contrast: 0 0 0;

  /* gradients */
  --oui-gradient-primary-start: 225 210 195;
  --oui-gradient-primary-end: 240 226 204;

  --oui-gradient-secondary-start: 235 220 205;
  --oui-gradient-secondary-end: 245 235 220;

  --oui-gradient-success-start: 150 190 130;
  --oui-gradient-success-end: 170 210 150;

  --oui-gradient-danger-start: 200 120 100;
  --oui-gradient-danger-end: 210 140 120;

  --oui-gradient-brand-start: 245 235 220;
  --oui-gradient-brand-end: 240 226 204;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 215 200 140;
  --oui-gradient-warning-end: 200 180 120;

  --oui-gradient-neutral-start: 225 187 128;
  --oui-gradient-neutral-end: 230 215 200;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}